$color-primary-light:  #006CB7;
$color-secondary-light:  #25908A;

$color-primary-dark:  #204C89;
$color-secondary-dark:  #2D4FD5;

$color-danger-light: #902316;
$color-danger-dark: #67221D;

$color-white-1: #fff;
$color-white-1: #eaeaea;