.card {
	/* width: 1350px;
	height: 980px; */
	height: 375px;
	width: 490px;
	margin-bottom: 2em;
}
.blue {
	background-color: #4770cc;
}
.grey {
	background-color: #dddddd;
}
.red {
	background-color: red;
}
