.weaponryCard {
	padding: 0.1em;
	border-radius: 7px;
	height: 100%;
	margin-top: 0.2em;
	padding-top: 0;

	.weaponryCard-inner {
		background-color: whitesmoke;
		border-radius: 6px;
		&.main{
			background-color: grey;
		}
	}
	input {
		background: none;
		border-top: none;
		border-left: none;
		border-right: none;
		text-align: center;
		width: 100%;
	}

	.weaponry-label {
		display: flex;
		justify-content: center;
		label {
			font-size: 9px;
			text-transform: uppercase;
			font-weight: bold;
			color: white;
		}
	}
	.stat-main {
		display: flex;
		justify-content: center;
		border-radius: 4px;
		background-color: red;
		input {
			text-transform: uppercase;
			font-weight: bold;
			color: white;
		}
	}
	.weaponry-value-first {
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
	}
	.weaponry-value-last {
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
	}
	.weaponry-value {
		// background-color: white;
		// color: black;
		font-size: 14px;
		border-left: 1.5px solid #000;
	}
	.column-name{
		width: 28%;
	}
	.column-range{
		width: 13%;
	}
	.column-halted{
		width: 8%;
	}
	.column-moving{
		width: 8%;
	}
	.column-at{
		width: 7%;
	}
	.column-fp{
		width: 7%;
	}
	.column-notes{
		width: 30%;
		.notes{
			font-style: italic;
			font-size: 12px;
			text-align: left;
			line-height: 19px;
			padding-left: 3px;
		}
	}
}
