.card-creator {
	display: flex;
	padding: 3em;
	justify-content: space-around;

	.card-interface {
		// width: 60%;
		padding: 1em;
		flex: 2 1 auto;
	}
	.card-form {
		width: 70%;
		padding: 1em;
		flex: 2 1 auto;
	}
}
