.bg-blue {
	background-color: #4770cc;
}
.bg-navy-blue {
	background-color: navy;
}
.bg-grey {
	background-color: #dddddd;
}
.bg-red {
	background-color: red;
}
.bg-brown-1{
	background-color: darkkhaki;
}
.bg-dark-grey{
	background-color: darkgray;
}
.bg-white{
	background-color: white;
}
.text-black{
	color: black;
}
.text-white{
	color: white;
}
.theme-icon-generic {
	u
}